:host {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    overflow: hidden;
}

.container {
    min-width: 375px;
    max-width: 375px;
    min-height: 602px;
    max-height: 602px;
    display: flex;
    flex-direction: column;
    background: black;
    padding: 0px 16px 16px 16px;
    border-style: solid;
    border-width: 1px;
    border-radius: 37px;
    cursor: default;
    button {
        outline: unset;
    }
}

.top-container {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    .calc-display {
        flex: 1;
        height: 50px;
        font-size: 95px;
        font-weight: 50;
        margin: 0px -2px 25px 0px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: white;
        letter-spacing: -4px;
    }
}

.bottom-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.right-operator-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .right-operator:active {
        transition: unset;
        background: #fcc78d;
    }
    .right-operator {
        margin: 14px 0px 0px 0px;
        padding: 0px;
        width: 75px;
        height: 75px;
        border-radius: 37px;
        font-size: 44px;
        border: none;
        background: #ff9500;
        color: white;
        padding-bottom: 6px;
        padding-right: 1px;
    }
    .active {
        background: white;
        color: #ff9500;
    }
}

.number-container {
    .number:active {
        transition: unset;
        background: #737373;
    }
    .number {
        margin: 14px 12px 0px 0px;
        padding: 0px;
        width: 75px;
        height: 75px;
        border-radius: 37px;
        font-size: 37px;
        border: none;
        background: #333333;
        color: white;
        padding-right: 1px;
        transition: background 500ms ease-out;
    }
    .zero {
        width: 164px;
        padding-left: 26px;
        text-align: left;
    }
}

.symbol-container {
    .symbol:active {
        transition: unset;
        background: #d9d9d9;
    }
    .symbol {
        margin: 14px 12px 0px 0px;
        padding: 0px;
        width: 75px;
        height: 75px;
        border-radius: 37px;
        font-size: 29px;
        border: none;
        background: #a6a6a6;
        color: black;
        padding-right: 3px;
        transition: background 500ms ease-out;
    }
    .plus-minus {
        font-variant: diagonal-fractions;
    }
}

.left-container {
    display: flex;
    flex-direction: column;
}
